* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-wrapper {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  margin-top: 7%;
  position: relative;
  overflow: hidden;

  border: 1px solid red;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  text-align: center;
  font-size: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;

  transition: transform 1s;
}

.slide > h1 {
  width: 100%;
  height: 100%;
}
