* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: purple;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding: 20px;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.7s ease;
}
.nav-links li a:hover {
  color: #ffcc00;
}
.burger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 5vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger.active .bar2 {
    opacity: 0;
  }
  .burger.active .bar1 {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar3 {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  } */

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-links.active {
    transform: translateX(0%);
  }
  .nav-links li {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
}
